[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-extensions = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
django-cors-headers = "*"

[dev-packages]
black = "*"
flake8 = "*"
coverage = "*"
pytest-django = "*"
django-debug-toolbar = "*"

[requires]
python_version = "3.10"
